body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: teal;
  padding: 20px;
  color: white;
}

a{
  color: white !important;
  margin: 10px;
  text-decoration: none !important;
}

img{
  height: 300px;
  widows: 300px;
  border-radius: 10px;
}

p{
  font-weight: bold;
}

.footer{
  background-color: black;
  color: white;
  padding: 10px;
}
